In [2]:
mylist=[14, "hello", 967]
mylist[1]
#index error, il faut afficher le contenu d'un index déjà présent dans la liste

14

In [22]:
import pandas as pd
import numpy as np
#index error, pandas et numpy doivent être écrits en minuscule

In [7]:
print("python errors")

python errors

In [9]:
mydictionnary={True:"hello",False:"bye", '3':"python"}
mydictionnary[True]
#key error, True est un booléen et non un string

'hello'

In [10]:
i=14
while i<78:
    print(i)
    i+=1
#indentation error, la tabulation est importante dans une boucle ou une condition

14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77

In [13]:
it=iter([1,2,3])
next(it)
next(it)
next(it)
#stopiteration, on ne peut pas afficher un élément qui est en excès par rapport à une liste définie

2

In [15]:
15+15
#typeerror, on ne peut pas additioner des int avec des string

30

In [17]:
int('909090')
#valueerror, on ne peut pas convertir un string en int

909090

In [19]:
x=19/0.01
x
#zerodivisionerror, on ne peut pas diviser par 0

1900.0

In [21]:
python = 2
#nameerror, python n'est ni une variable ni une fonction